/** {*/
/*font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;*/
/*}*/

body {
  height: 100%;
  background-color: #f8f8f8;
}

.page_header {
  font-weight: 400;
  font-size: 26px;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
