/** {*/
/*font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;*/
/*}*/

body {
  height: 100%;
  background-color: #f8f8f8;
}

.page_header {
  font-weight: 400;
  font-size: 26px;
  color: #707070;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.weui-media-box__ft {
  display: flex;
  align-items: center;
}

.weui-media-box__ft .weui-btn {
  height: 25px;
  width: 25px;
  padding: 0;
  border-radius: 50%;
  line-height: 0;
}

.weui-media-box__ft .num {
  width: 20px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}

.s_link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000000;
}

.s_link:active {
  background-color: #ECECEC;
}
